# Ignore govCMS build files.
build.properties
tests/screenshots/*

# Ignore drupal core.
docroot/

# Ignore build artifacts
/deploy
bin/*
reports

# Composer vendor
vendor/
vendor/.git

# Sass
.sass-cache

# Node
node_modules/

# Drupal console
console/
console/cache/

# DrupalVM
.vagrant/

# PHPStorm
.idea/
atlassian-ide-plugin.xml

# Netbeans IDE
nbproject
nbproject/*

# OS X
.DS_Store
.AppleDouble
.LSOverride
