version: 2
jobs:
  validate:code:
    docker:
      - image: cimg/php:8.1
    steps:
      - checkout
      - run:
          name: Checkout tests
          command: |
            git clone https://github.com/govcms-tests/tests.git tests
      - run:
          name: Check Drupal best practices
          command: |
            cd tests && composer install
            ./vendor/bin/phpcs --standard=phpcs.govcms.xml -p || true
  build:
    docker:
      - image: cimg/php:8.1
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update && sudo apt-get install -y rsync
      - run:
          name: Install GovCMS distribution
          command: |
            composer update --profile --prefer-dist --optimize-autoloader
            composer show -i
  test:basic:
    docker:
      - image: govcmstesting/php:8.1-apache
      - image: cimg/mariadb:10.11
        environment:
          MYSQL_DATABASE: govcms
          MYSQL_ROOT_PASSWORD: govcms
          MYSQL_ROOT_HOST: "%"
    working_directory: /app
    steps:
      - checkout
      - run:
          name: Install GovCMS dependencies
          command: |
            composer update --profile --prefer-dist --optimize-autoloader
      - run:
          name: Get PHP and drush version status
          command: |
            php -v
            composer --version
            bin/drush version
      - run:
          name: Wait for MariaDb to be ready
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 1m
      - run:
          name: Install GovCMS site
          command: |
            cd web
            ../bin/drush site-install -y govcms --db-url=mysql://root:govcms@127.0.0.1:3306/govcms --site-name='GovCMS' install_configure_form.enable_update_status_emails=NULL install_configure_form.enable_update_status_module=NULL || true
      - run:
          name: Get site and module version status
          command: |
            cd web
            ../bin/drush status
            ../bin/drush pm:list --no-core
  test:cypress:
    docker:
      - image: govcmstesting/php:8.1-apache
      - image: cimg/mariadb:10.11
        environment:
          MYSQL_DATABASE: govcms
          MYSQL_ROOT_PASSWORD: govcms
          MYSQL_ROOT_HOST: "%"
    working_directory: /app
    steps:
      - checkout
      - run:
          name: Checkout tests
          command: |
            git clone https://github.com/govcms-tests/tests.git tests
      - run:
          name: Setup webserver
          command: |
            cp /app/.circleci/httpd.conf.circle /etc/apache2/sites-available/default.conf
            a2ensite default
            echo "127.0.0.1 local.govcms.gov.au" | tee --append /etc/hosts
            service apache2 restart
      - run:
          name: Wait for MariaDb to be ready
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 1m
      - run:
          name: Install GovCMS site
          command: |
            composer update --profile --prefer-dist --optimize-autoloader
            cd web
            ../bin/drush site-install -y govcms --db-url=mysql://root:govcms@127.0.0.1:3306/govcms --site-name='GovCMS' --account-pass=password install_configure_form.enable_update_status_emails=NULL install_configure_form.enable_update_status_module=NULL || true
      - run:
          name: Install Cypress Dependencies
          command: |
            cd tests/cy
            yarn
      - run:
          name: Run Cypress tests
          command: |
            cd tests/cy
            cp /app/.circleci/cypress.env.json /app/tests/cy/cypress.env.json
            yarn cypress:run
      - store_artifacts:
          path: tests/cy/cypress/videos
      - store_artifacts:
          path: tests/cy/cypress/screenshots
workflows:
  version: 2
  main:
    jobs:
      - validate:code
      - build:
          requires:
            - validate:code
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test:basic:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test:cypress:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
