{#
/**
 * @file
 * Component for tags.
 *
 * Variables:
 * - item: [array] The tags items. Each item is an object containing:
 *   - content: [string] Text of the item.
 */
#}
{% block tags %}
  <ul class="au-tags">
    {% for item in items %}
      <li>{{ item.content }}</li>
    {% endfor %}
  </ul>
{% endblock %}
