.back-to-top__link {
  @include AU-space(bottom, 15px);
  @include AU-space(right, 15px);
  @include AU-space(padding, 0.1em 0.5em);
  background: rgba(255,255,255, 0.8);
  border: none;
  display: block;
  opacity: 0;
  position: fixed;
  transition: all 600ms ease-in-out;
  z-index: -1;

  &.is-visible {
    opacity: 1;
    transition: all 300ms ease-in-out;
    z-index: 9999;
  }
}
