// Common styling for list paragraphs.
.paragraph--type--item-list[class*="list-layout--"] .field__items,
.paragraph--type--node-list[class*="list-layout--"] .field__items {
  @include AU-space(margin-left, -$AU-grid-12-gutter-width/2);
  @include AU-space(margin-right, -$AU-grid-12-gutter-width/2);

  @include AU-media( sm ) {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  > .field__item {
    @include AU-space(margin-top, $AU-grid-12-gutter-width);
  }

  // Styling for different view modes as selected with Entity Reference Display.
  &.erd-list--calendar-item {
    @include AU-space(margin-top, $AU-grid-12-gutter-width);

    > .field__item {
      @include AU-space(margin-top, 2px);
    }
  }

}

////
// Specific styles for the layout classes.
////
// Two items in row.
.list-layout--12 {
  .field__items > .field__item {
    @extend .col-sm-12;
  }
}
.list-layout--6-6 {
  .field__items > .field__item {
    @extend .col-sm-6;
  }
}

// Three items in row.
.list-layout--4-4-4 {
  .field__items > .field__item {
    @extend .col-sm-4;
  }
}

// Four items in row.
.list-layout--3-3-3-3 {
  .field__items > .field__item {
    @extend .col-sm-3;
  }
}

// Six items in row.
.list-layout--2-2-2-2-2-2 {
  .field__items > .field__item {
    @extend .col-sm-2;
  }
}

////
// Equal columns.
// Items width can be set dynamically up to 6 items in row.
////
.list-layout--equal .field__items > .field__item {
  padding-left: $AU-grid-12-gutter-width/2;
  padding-right: $AU-grid-12-gutter-width/2;

  @include AU-media( sm ) {
    width: calc(100/3 * 1%);
  }

  @include AU-media( md ) {
    width: calc(100/6 * 1%);
  }

  /* one item */
  &:first-child:nth-last-child(1) {
    width: 100%;
  }

  /* two items */
  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ .field__item {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/2 * 1%);
    }
  }

  /* three items */
  &:first-child:nth-last-child(3),
  &:first-child:nth-last-child(3) ~ .field__item {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/3 * 1%);
    }
  }

  /* four items */
  &:first-child:nth-last-child(4),
  &:first-child:nth-last-child(4) ~ .field__item {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/2 * 1%);
    }

    @include AU-media( md ) {
      width: calc(100/4 * 1%);
    }
  }

  /* five items */
  &:first-child:nth-last-child(5),
  &:first-child:nth-last-child(5) ~ .field__item {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/3 * 1%);
    }

    @include AU-media( md ) {
      width: calc(100/5 * 1%);
    }
  }
}
