.views--layout .view-content {
  @include AU-space(margin-left, -$AU-grid-12-gutter-width/2);
  @include AU-space(margin-right, -$AU-grid-12-gutter-width/2);

  @include AU-media( sm ) {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .views-row {
    @include AU-space(margin-top, $AU-grid-12-gutter-width);
  }
}

////
// Specific styles for the view layout classes.
////
// One item in row.
.views--layout--full-width .view-content {
  .views-row {
    @extend .col-sm-12;
  }
}

// Two items in row.
.views--layout--halves .view-content {
  .views-row {
    @extend .col-sm-6;
  }
}

// Three items in row.
.views--layout--thirds .view-content {
  .views-row {
    @extend .col-sm-4;
  }
}

// Four items in row.
.views--layout--quarters .view-content {
  .views-row {
    @extend .col-sm-3;
  }
}

// Six items in row.
.views--layout--sixths .view-content {
  .views-row {
    @extend .col-sm-2;
  }
}

////
// Equal columns.
// Items width can be set dynamically up to 6 items in row.
////
.views--layout--equal .view-content .views-row {
  @include AU-space(padding-left, $AU-grid-12-gutter-width/2);
  @include AU-space(padding-right, $AU-grid-12-gutter-width/2);

  @include AU-media( sm ) {
    width: calc(100/3 * 1%);
  }

  @include AU-media( md ) {
    width: calc(100/6 * 1%);
  }

  /* one item */
  &:nth-of-type(1):nth-last-of-type(1) {
    width: 100%;
  }

  /* two items */
  &:nth-of-type(1):nth-last-of-type(2),
  &:nth-of-type(1):nth-last-of-type(2) ~ .views-row {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/2 * 1%);
    }
  }

  /* three items */
  &:nth-of-type(1):nth-last-of-type(3),
  &:nth-of-type(1):nth-last-of-type(3) ~ .views-row {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/3 * 1%);
    }
  }

  /* four items */
  &:nth-of-type(1):nth-last-of-type(4),
  &:nth-of-type(1):nth-last-of-type(4) ~ .views-row {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/2 * 1%);
    }

    @include AU-media( md ) {
      width: calc(100/4 * 1%);
    }
  }

  /* five items */
  &:nth-of-type(1):nth-last-of-type(5),
  &:nth-of-type(1):nth-last-of-type(5) ~ .views-row {
    width: 100%;

    @include AU-media( sm ) {
      width: calc(100/3 * 1%);
    }

    @include AU-media( md ) {
      width: calc(100/5 * 1%);
    }
  }
}
