body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-size-adjust: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #313131;
}

#page #header {
  background: none;
  border-bottom: .5rem solid #00698f;
}

#page #header #block-govcms-bartik-site-branding {
  padding: 3rem 0;
}

#page #header #block-govcms-bartik-site-branding .site-branding__logo img {
  width: 250px;
}

#page #header .region-primary-menu .block-menu .menu {
  margin: 0;
  padding: 0;
}

#page #header .region-primary-menu .menu-item a {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #00698f;
}

#page #header .region-primary-menu .menu-item a:hover {
  color: #313131;
  text-decoration: underline;
  background-color: #f5f5f5;
}

.sidebar .block {
  background: none;
  border: none;
}

.sidebar .block ul.menu li {
  display: block;
  border-bottom: 1px solid gray;
}

.sidebar .block ul.menu li a {
  font-size: .875rem;
  padding: 1rem;
  line-height: 1.42857;
  color: #636363;
  display: block;
  text-decoration: none;
  border: none;
}

.sidebar .block ul.menu li a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  background-color: #f5f5f5;
}
