services:

  mysql:
    image: tugboatqa/mysql:5

  app:
    image: tugboatqa/php:7.4-apache
    # Set this as the default service. This does a few things
    #   1. Clones the git repository into the service container
    #   2. Exposes port 80 to the Tugboat HTTP proxy
    #   3. Routes requests to the preview URL to this service
    default: true
    depends: mysql
    visualdiffs:
      :default:
        - /
        - /test
        - /blog/example
        - /events

    # A set of commands to run while building this service
    commands:
      # Commands that set up the basic preview infrastructure.
      init:
        # Tooling.
        - apt-get update
        - apt-get install -y libbz2-dev libzip-dev
        - docker-php-ext-install opcache bz2 zip
        - a2enmod headers rewrite

        # Clean up. This keeps image storage tighter on Tugboat.
        - apt-get autoclean && apt-get clean

        # Install drush-launcher.
        - wget -O /usr/local/bin/drush https://github.com/drush-ops/drush-launcher/releases/download/0.6.0/drush.phar && chmod +x /usr/local/bin/drush

        # Install/update packages managed by composer, including drush.
        - composer selfupdate && composer clear
        - COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist

        # Link the document root to the expected path.
        - ln -snf "${TUGBOAT_ROOT}/web" "${DOCROOT}"

        # Create the Drupal private and public files directories.
        - mkdir -p "${TUGBOAT_ROOT}/files-private" "${DOCROOT}/sites/default/files"

        # Copy test configurations to install folder.
        - cp -af "${TUGBOAT_ROOT}/config/test/." "${TUGBOAT_ROOT}/config/install/"

        # Link the config and private files paths.
        - ln -snf "${TUGBOAT_ROOT}/config" "${DOCROOT}/../config"
        - ln -snf "${TUGBOAT_ROOT}/files-private" "${DOCROOT}/../files-private"

      # Commands when refreshing an existing preview.
      update:
        # Install/update packages managed by composer, including drush.
        - COMPOSER_MEMORY_LIMIT=-1 composer update

        # Use the tugboat-specific Drupal settings.
        - cp "${TUGBOAT_ROOT}/.tugboat/settings.php" "${DOCROOT}/sites/default/"
        - cp "${TUGBOAT_ROOT}/.tugboat/security.settings.php" "${DOCROOT}/sites/default/"

        # Set file permissions such that Drupal will not complain
        - chgrp -R www-data "${DOCROOT}/sites/default/files"
        - find "${DOCROOT}/sites/default/files" -type d -exec chmod 2775 {} \;
        - find "${DOCROOT}/sites/default/files" -type f -exec chmod 0664 {} \;
        - chgrp -R www-data "/var/lib/tugboat/files-private"
        - chmod 2775 /var/lib/tugboat/files-private
        - chmod 0664 ${DOCROOT}/sites/default/services.yml

        # Install the site.
        - drush -r "${DOCROOT}" site:install govcms install_configure_form.update_status_module='array(FALSE,FALSE)' -y

      # Commands when building a new branch/PR update.
      build:
        - COMPOSER_MEMORY_LIMIT=-1 composer update
        - drush cache:rebuild
        # Partial importing is still having some issues with Drush 10 and Drupal 9.
        #- drush config-import --partial --source="${TUGBOAT_ROOT}/config/test" -y
        - drush en module_permissions -y
        - drush updatedb -y
        - drush cache:rebuild
